html {
    height: 2500px;
}

.button {
    position: relative;
    width: 30%;
    justify-content: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(77, 77, 77, 0.85);
    border-radius: 20px;
    background-color: #e0e0e0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    padding: 15px 20px;
    margin-top: 300px;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.button:hover {
    transition: background-color 300ms ease, color 300ms ease;
    color: #ffffff;
    background-color: rgb(63, 63, 63);
}



img {
    margin:0 0 2rem; 
    width:600px; 
    text-align:center 
}

#icon {
    width:250px;
}

#unicorn {
    width: 100px;
    height: 100px;
}

#img1{
    z-index: -10;
}

body {
    font-family: Rubik,-apple-system,BlinkMacSystemFont,Helvetica Neue,Noto Sans CJK SC,sans-serif;
    background-color: #e0e0e0;
    text-align: center;
}

h1 {
    color:rgb(58, 58, 58);
    font-family:Rubik,-apple-system,BlinkMacSystemFont,Helvetica Neue,Noto Sans CJK SC,sans-serif;
    font-size: 4.5rem;
    line-height:normal;
    font-weight:700;
    margin:2.4rem 0 0.8rem 0;
    width:100% ;
}

h2 { 
    color:rgb(58, 58, 58);
    font-family:Rubik,-apple-system,BlinkMacSystemFont,Helvetica Neue,Noto Sans CJK SC,sans-serif;
    font-size: 2rem;
    line-height:normal;
    font-weight:700;
    margin:2.4rem 0 0.8rem 0
}

.first {
    height: 100vh;
}

.second {
    height: 1080px;
    margin-top: 300px;
}

.third {
    margin-top: 1000px;
    height: 1800px;
}

#hardware {
    margin-top: 30px;
}

#ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -730px;
    --progress: var(--progress);
}


#ui ul li img{
    height: auto;
    width: 450px;
    margin: 0;
    margin-top:8px;
    transform: scale( calc ( 1.8 - ( 0.8 * var(--progress))));
    opacity: var(--progress);
}

.final {
    height: 700px;
}

.projects {
    margin-bottom: 100px;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    top: 0;
    transform: translate(0, 50%);
    margin: 0;
}

#textschange {
    position: sticky;
    top: 7rem;
    margin-bottom: -50px;
}


